<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ordens de Serviço</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="os.length > 0; else noData" [inset]="false" class="list">
    <app-card
      *ngFor="let item of os"
      class="item-list"
      [id_os]="item.id"
      [description]="item.mensagem"
      [init_date]="item.data_abertura"
      [finish_date]="item.data_fechamento"
      [colorStatus]="getColorStatus(item.status)"
      [status]="getStatus(item.status)"
    >
    </app-card>
  </ion-list>

  <ng-template #noData>
    <ion-item>
      <ion-label>Nenhuma ordem de serviço encontrada.</ion-label>
    </ion-item>
  </ng-template>
</ion-content>
